body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
button {
    padding: 0 10px 0 10px;
    background-color:#395858;
    color:#ffffff;
    font-size: 24px;
    border: none;
    outline: none;
}
button:hover{
    cursor:pointer;
}
#container {
    box-sizing: border-box;
    display: flex;
    width:608px;
    flex-flow: row wrap;
}
#container div {
    box-sizing: border-box;
    border: 1px solid rgb(71, 223, 165);
    background-color: #e2e2e2;
}